.hover:hover{
    transform: scale(1.1);
}
.color-div{
    border-radius: 5px;
}
.input-opacity{
    opacity: 0;
}
.color-div label {
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border-radius: 4px;
}
.color-div label:hover{
    transform: scale(1.1);
}
.color-div input[type="radio"]:checked + label {
    border: 2px solid black;
    transform: scale(1.1);
    opacity: 50%;
}

